---
import "bluesky-comments/bluesky-comments.css";
import { BlueskyComments } from "bluesky-comments";

const emptyState = "No comments yet";
---

<section class="mx-auto w-full max-w-3xl p-4">
  <div class="mr-auto h-fit w-fit">
    <BlueskyComments
      client:load
      author="devavatar.com"
      uri=""
      emptyState={emptyState}
      commentFilters={[]}
    />
  </div>
</section>
