---
import "bluesky-comments/bluesky-comments.css";
import { BlueskyComments } from "bluesky-comments";

const emptyState = "No comments yet";
---

<section class="mx-auto mt-4 w-full max-w-3xl px-4 pb-12">
  <BlueskyComments
    client:load
    author="devavatar.com"
    uri=""
    emptyState={emptyState}
    commentFilters={[]}
  />
</section>
