---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";
import Sponsor from "./Sponsor.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Sponsor showRss />
    <Socials centered />
    <div class="footer-links">
      <!-- For some reasons these three elements have a space b/w them -_- (workaround for now to have pipes render correctly) -->
      <a href="#">Credits</a>&nbsp;|
      <a href="#">View source</a>&nbsp;|
      <a href="#">Report a bug</a>
    </div>
    <p class="text-center">No cookies, no ads, no tracking ― just blog</p>
    <div class="copyright-wrapper">
      <span>&copy; {currentYear}</span>
      &nbsp;
      <span>Rohit Mehta</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between pt-6 mt-6;
  }
  .footer-wrapper > :not(:last-child) {
    @apply mb-3;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .footer-links {
    @apply mt-3;
  }
  .footer-links a {
    @apply inline-block underline decoration-dashed hover:no-underline;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-row items-center whitespace-nowrap;
  }
</style>
