---
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

const URL = Astro.url;

const shareLinks = [
  {
    name: "WhatsApp",
    href: "https://wa.me/?text=",
    linkTitle: `WhatsApp`,
  },
  // {
  //   name: "Facebook",
  //   href: "https://www.facebook.com/sharer.php?u=",
  //   linkTitle: `Facebook`,
  // },
  {
    name: "Bluesky",
    href: "https://bsky.app/intent/compose?text=Check%20out%20this%20amazing%20post%21%20",
    linkTitle: `Share on Bluesky`,
  },
  {
    name: "X",
    href: "https://twitter.com/intent/tweet?via=_r0hitm%20&url=",
    linkTitle: `X (Twitter)`,
  },
  // {
  //   name: "Telegram",
  //   href: "https://t.me/share/url?url=",
  //   linkTitle: `Telegram`,
  // },
  // {
  //   name: "Pinterest",
  //   href: "https://pinterest.com/pin/create/button/?url=",
  //   linkTitle: `Pinterest`,
  // },
  {
    name: "Mail",
    href: "mailto:?subject=See%20this%20post&body=",
    linkTitle: `Email`,
  },
] as const;
---

<div class={`social-icons`}>
  <span class="italic">Share this:</span>
  <div class="text-center">
    {
      shareLinks.map(social => (
        <LinkButton
          href={`${social.href + URL}`}
          className="link-button"
          title={social.linkTitle}
          target="_blank">
          <Fragment set:html={socialIcons[social.name]} />
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      ))
    }
    <!-- Share (via system navigator share) -->
    <button
      class="link-button group inline-block hover:text-skin-accent"
      title="Share"
      id="share-button">
      <Fragment set:html={socialIcons["Share"]} />
      <span class="sr-only">Share</span>
    </button>
  </div>
</div>

<style>
  .social-icons {
    @apply flex flex-col flex-wrap items-center justify-center gap-1 sm:items-start;
  }
  .link-button {
    @apply scale-90 p-2 transition-all hover:scale-105 sm:p-1;
  }
</style>

<script>
  const shareBtn = document.getElementById("share-button");
  shareBtn?.addEventListener("click", async () => {
    try {
      await navigator.share({
        title: document.title,
        text: "Check out this amazing post!",
        url: document.location.href,
      });
    } catch (err) {
      console.error("Error sharing:", err);
    }
  });
</script>
