---
layout: layouts/base.njk
---
If you're coming from my old blog, code-culture.codes, welcome! All the old posts have been
migrated here, and the old site has been taken down. However, this site is still a work in
progress, so please bear with me as I get things up and running. If you have any questions,
or if you find any issues, please reach out, I'd love to hear from you.

<ul>
    <li><b>Email</b>: rohitm09 [at] proton [dot] me</li>
    <li><a href="https://github.com/r0hitm">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/r0hitm/">LinkedIn</a></li>
    <li><a href="https://twitter.com/_r0hitm">X (Twitter)</a></li>
</ul>

{{ content | safe }}
